fastapi == 0.89.1
uvicorn == 0.20.0
sqlalchemy == 1.4.46
passlib == 1.7.4
bcrypt
python-jose
gunicorn
pydantic>=1.2.0,<2.0.0
fastapi_mail
beautifulsoup4==4.12.2
certifi==2022.12.7
charset-normalizer==3.1.0
idna==3.4
lxml==4.9.2
requests==2.28.2
soupsieve==2.4.1
urllib3==1.26.15
PyJWT==2.6.0